<div class="container px-5 py-2">
    <div class="row my-2">
        <div class="col-sm">
            <h2>Bem vindo ao portal do parceiro Club Hair</h2>
        </div>
    </div>
    <div class="row my-4">
        <div *ngFor="let servico of barbearia.servicos" class="col-3">
            <div class="card my-4">
                <div class="card-body">
                    <h5 class="card-title">{{servico.nome}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Tempo: {{servico.tempo}} min</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Valor: R$ {{servico.valor}},00</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-sm">
            <button type="button" class="btn btn-primary" (click)="showCadastro = !showCadastro">incluir mais
                serviços</button>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-sm">
            <app-cadastro *ngIf="showCadastro" (newItemEvent)="adicionarServico($event)"></app-cadastro>
        </div>
    </div>
</div>