<h4>Excluir Produto</h4>
<div class="form-row my-2">
    <div class="col-6">
        <label>Serviço</label>
        <input type="text" class="form-control" placeholder="Nome do serviço a ser oferecido" [value]="servico.nome"
            disabled>
    </div>
</div>
<div class="form-row my-2">
    <div class="col-6">
        <label>Tempo</label>
        <input type="text" class="form-control" placeholder="Tempo total do serviço" [value]="servico.tempo" disabled>
    </div>
</div>
<div class="form-row my-2">
    <div class="col-6">
        <label>Valor</label>
        <input type="text" class="form-control" placeholder="Valor a ser cobrado pelo serviço" [value]="servico.valor"
            disabled>
    </div>
</div>
<button class="btn btn-primary" (click)="deleteProduct()" color="warn">
    Excluir
</button>

<button class="btn btn-primary" (click)="cancel()">
    Cancelar
</button>